<!DOCTYPE html>
<html>

<head>
    <title>Avatar's Guestbook</title>
</head>
    
<body style=" background-color:#f4faff;">

    <header style="position: fixed; top: 0; left: 0; width: 100%; background-color: #2E67A0;">
        <h2 style="color: white; margin-left: 20px;">Leave a Trace!</h2>
    </header>

    <div style="padding: 25px; text-align: center; display: inline-block; margin-top: 50px;">
        <!-- <form onsubmit="showName(event)"> -->
        <form action="{{ url_for("add")}}" method="post">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="fname">
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lname">
        <button type="submit">Login</button>

            <p id="show"></p>

    </div>

    <script>
        // function showName(e){
        //     e.preventDefault();
        //     var firstName= document.getElementById("fname").value;
        //     var lastName = document.getElementById("lname").value;
        //     document.getElementById("show").innerText = firstName+" "+lastName;        
        // }
    </script>

</body>
</html>