<!DOCTYPE html>
<html>

<head>
    <title>The Blue Avatar</title>
</head>
    
<body style=" background-color:#f4faff;">

    <header style="position: fixed; top: 0; left: 0; width: 100%; background-color: #2E67A0;">
        <h2 style="color: white; margin-left: 20px;">Jake Sully from Avatar</h2>
    </header>

    <div style="padding: 25px; text-align: center; display: inline-block; margin-top: 50px;">
        <h2>Hi this is Jake Sully from Avatar fan page!</h2>
        <p>
            Avatar is a movie franchise by James Cameron. Often mistaken as the anime Avatar Legend of Aang, though they have
            a similar structure: fire nation (or tribe) attacked them both.
            Read more about him <a href="https://james-camerons-avatar.fandom.com/wiki/Jake_Sully" target="_blank">here!</a>
        </p>

        <img src="https://lumiere-a.akamaihd.net/v1/images/a_avatarpandorapedia_jakesully_16x9_1098_02_b13c4171.jpeg?region=0%2C0%2C1920%2C1080" 
        alt="Jake Sully" style="width: 100%; max-width: 450px; margin: 10px 0;">
        
        <br>
        
        <button id="button1" style="background-color: #09a8bd; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 4px;">Click Me!</button>
        <br>
        <p id="text3" style="visibility: hidden;">Thanks!</p> <br>
        <p id="fname">Thanks!</p>

    </div>

    <script>
        document.getElementById("button1").addEventListener("click", function() {
            window.location.href = "./guestbook.html";
        });

    </script>

</body>
</html>